<div>
    <h2 id="page-heading">
        <span jhiTranslate="reservationApp.candidacy.home.title">Candidacies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidacy" [routerLink]="['/candidacy/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="reservationApp.candidacy.home.createLabel">
            Create a new Candidacy
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <jhi-candidacy-list [candidacies]="candidacies"></jhi-candidacy-list>
</div>
