<div>
    <h2 id="page-heading">
        <span jhiTranslate="reservationApp.reservation.home.title">Reservations</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-reservation" [routerLink]="['/reservation/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="reservationApp.reservation.home.createLabel">
            Create a new Reservation
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="reservations?.length === 0">
        <span jhiTranslate="reservationApp.reservation.home.notFound">No reservations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="reservations && reservations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="startTime"><span jhiTranslate="reservationApp.reservation.startDay">Day</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startTime"><span jhiTranslate="reservationApp.reservation.startTime">Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy.id"><span jhiTranslate="reservationApp.reservation.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="terrain.id"><span jhiTranslate="reservationApp.reservation.terrain">Terrain</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"><span jhiTranslate="reservationApp.reservation.players">Players</span> </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let reservation of reservations ;trackBy: trackId">
                    <td><a [routerLink]="['/reservation', reservation.id, 'view']">{{ reservation.startTime | date:'longDate' }}</a></td>
                    <td>{{ reservation.startTime | date:'shortTime' }}</td>
                    <td>
                        {{ reservation.createdBy?.firstName }} {{ reservation.createdBy?.lastName }}
                    </td>
                    <td>
                        <div *ngIf="reservation.terrain">
                            <a [routerLink]="['/terrain', reservation.terrain?.id, 'view']" >{{ reservation.terrain?.name }}</a>
                        </div>
                    </td>
                    <td>
                        {{ reservation.candidacies?.length }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/reservation', reservation.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/reservation', reservation.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(reservation)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
